@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  body {
    @apply bg-gray-900 text-white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    @apply bg-white text-black;
  }
} */
